@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto:ital,wght@1,300&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');


:root{
  --font-style:'Nunito Sans', sans-serif;
  --font-titles:'Roboto', sans-serif;
  --color-fondo:#C6CBD7;
  --color-principal: #D9D9D9;
  --color-negro: #0D0C0F;
  --color-blanco: #fff;
  --color-letra2: #6F5946;
  }

body{
  background-color: var(--color-fondo);
  font-family: 'Nunito', sans-serif;
  width: 100%;
  max-width: 1366px;
  max-height: 768px;
  margin: 0 auto;
  padding: 0;
  align-items: center;
    /*margin: 0;
    padding: 2rem;*/
  }

h1,h2,h3,h4{
  font-family:var(--font-titles);
}

p,ul,li,a{
  font-family: var(--font-style);
}

.header{
    background-color: var(--color-negro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

.header .logo{
  flex-basis: 55%;
  padding-left: 20px;
}

.header .logo img{
  border:  0.1px solid var(--color-negro);
  box-shadow: 0 4px 8px 0 var(--color-letra2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 400px;
  background-color: var(--color-negro);
}

.header .menu{      /*INICIO MENU*/
  flex-basis: 45%;
}

.header .menu ul{
    margin: 5%;
    width: 450px;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid var(--color-negro);
    background-color: #18181B;
    box-shadow: 0 4px 8px 0 var(--color-letra2), 0 6px 20px 0
                rgba(0, 0, 0, 0.19);
  }

.header .menu ul li{
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
  }

.header .menu ul li a{
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  }

.header .menu ul li::after{
  display: block;
  content: '';
  border-bottom: solid 1px var(--color-letra2);
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  }

.header .menu ul li:hover::after{
  transform: scaleX(1);
  }                         /*FIN MENU*/

/*FIN HEADER*/

/*INICIO*/

.intro{
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: var(--color-principal);
  justify-content: space-between;
  
}

.intro .intro-texto{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: auto;
  margin: auto;
  
}

.intro .intro-texto h4{
  color: var(--color-letra2);
  font-size: 36px;
  margin-bottom: 0%;
}

.intro .intro-texto h1{
  color: var(--color-negro);
  font-size: 64px;
  margin-top: 0%;
}

.intro p{
  text-align:justify;
  font-size: 36px;
  margin-right: 20px;
}

.opciones{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.opciones .btnElige{
  margin-top: 1rem;
  display: inline-block;
  align-self: center;
  padding: 10px;
  

  color: var(--color-blanco);
  text-decoration: none;
  

  max-width: 150px;
  margin: 20px;

  border-radius: .5rem;
  border:.2rem solid var(--color-blanco);

  cursor: pointer;
  background-color: var(--color-negro);
  
}

.opciones .btnElige:hover{
  color: var(--color-negro);
  background-color: var(--color-blanco);
  border:.2rem solid var(--color-negro);

}

.opciones .btnReserva{
  margin-top: 1rem;
  display: inline-block;
  align-self: center;
  padding: 10px;
  

  color: var(--color-negro);
  text-decoration: none;
  

  max-width: 150px;
  margin: 20px;

  border-radius: .5rem;
  border:.2rem solid var(--color-blanco);

  cursor: pointer;
  background-color: var(--color-blanco);
  
}

.opciones .btnReserva:hover{
  color: var(--color-blanco);
  background-color: var(--color-negro);
  border:.2rem solid var(--color-blanco);

}

.intro-img{
  flex-basis: 50%;
  
  padding: auto;
  margin: auto;
  
}

.imagen-chica {
  border-radius: 5%;
  height: 75%;
}

/*APARTADO INICIO2*/
      /*AQUÍ IRIA EL APARTADO QUE FALTA*/
/*FIN INICIO2*/

/*APARTADO CAFÉS*/

.tipos-cafe {
  padding: 3rem 0;
  text-align: center;
  background-color: var(--color-negro);
  
}

.tipos-cafe H3 {
  text-align: center;
  color: var(--color-letra2);
  font-size: 64px;
  margin: auto;
}

.tipos-cafe p {
  text-align: center;
  color: var(--color-blanco);
  font-size: 36px;
  padding-left: 15%;
  padding-right: 15%;
}

.grilla {
  grid-gap: 2rem;
  padding: 2rem;
}

.grilla {
  box-sizing: border-box;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.tarjeta {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
  grid-column-end: span 4;
  padding: 2rem;
  background-color: var(--color-negro);
  color: #ffff;
  }

.tarjeta h4{
  font-size: 32px;
  margin-bottom: 0%;
}

.tarjeta p{
  font-size: 24px;
  margin-bottom: 0%;
  padding: auto;
  text-align: center;
}

.tarjeta img {
  border-radius: 5%;
  max-width: 20rem;
  width: 100%;
  -webkit-transition:all .9s ease; /* Safari y Chrome *//*Para un efecto de zoom en las imagenes*/
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */

  }
  
.tarjeta:hover img {
  -webkit-transition:scale(1.15); /* Safari y Chrome */
  -moz-transition:scale(1.25); /* Firefox */
  -o-transition:scale(1.15); /* IE 9 */
  -ms-transition:scale(1.25);/* Opera */
  transform: scale(1.15);
  
    }
  .tarjeta .btn{
      margin-top: 1rem;
      display: inline-block;
      align-self: center;
      padding: 0 auto;
      
    
      color: var(--color-blanco);
      font-size: 1rem;
    
      max-width: 100px;
      margin: 20px;
    
      border-radius: .5rem;
      border:.5rem solid var(--color-letra2);
    
      cursor: pointer;
      background-color: var(--color-letra2);
      
    }
    
    .tarjeta .btn:hover{
      color: var(--color-blanco);
    }

 /*BLOG*/ /*Hay una separación entre la sección de tipos de cafe y el blog que no logro eliminar*/
.blog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--color-principal);
  margin: 0 auto;
  }

.blog h3{
  color: var(--color-letra2);
  font-size: 64px;
  margin: 0 auto;
  padding-top: 20px;
}

.blog p{
  color: var(--color-negro);
  font-size: 26px;
}

.blog .btn{
  margin-top: 1rem;
  display: inline-block;
  align-self: center;
  padding: .8rem 3rem;

  color: var(--color-letra2);
  font-size: 1.7rem;

  max-width: 150px;
  margin: 20px;

  border-radius: .5rem;
  border:.5rem solid var(--color-negro);

  cursor: pointer;
  background-color: var(--color-blanco);
  
}

.blog .btn:hover{
  color: var(--color-negro);
}

.media {
  background: var(--color-principal);
  /*border: 1px solid #e5e5e5;*/
  max-width: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;

  padding-left: 10%;
  padding-right: 10%;
  
}

.media-reverse {
  background: var(--color-principal);
  /*border: 1px solid #e5e5e5;*/
  max-width: 100%;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content:center;

  padding-left: 10%;
  padding-right: 10%;
}

.media-content {
  padding: 20px;
  
}

.media-title{
  font-size: 36px;
}

.media-content .media-description{
  font-size: 24px;
  text-align: justify;
}

.media-img-container {
  padding: 20px 20px 0 20px;
}

.media-img-item {
  width: 400px;
  
  
}

.media-title,
.media-description {
  margin: 0;
  padding: 0;
}

.media-description {
  margin-top: 4px;
  padding-bottom: 20px;
}



/*FOOTER*/  
.footer{
  background-color: var(--color-negro);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  color: #fff;
  padding: 20px;
}

.footer .marca{
  flex-basis: 25%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.footer .marca img{
  max-width: 300px;
}

.footer .legal{
  flex-basis: 25%;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .legal ul li{
  padding: 5px;
}


.footer .menu{
  flex-basis: 25%;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.footer .menu ul li{
  padding: 5px;
}

.footer .rrss{
  flex-basis: 25%;
  padding: 20px;
}

.rrss ul {
  display: flex;
  /*flex-direction: column;*/
  align-items:center;
  justify-content: center;
  padding: 0;
}

.rrss ul div {
  width: 20px;
  height: 5px;
  background-color: var(--color-letra2);
  margin: auto;
}

.rrss ul li {
  position: relative;
  list-style: none;
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.rrss ul li a{
  text-decoration: none;
}

.rrss ul li span {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}

.rrss ul li:hover span {
  transition: .3s;
}

.rrss ul li:nth-child(2):hover span {
  background: #2C3456 !important;
  align-self: flex-end;
}

.rrss ul li:nth-child(3):hover span {
  background: #6A9AEE !important;
}

.rrss ul li:nth-child(4):hover span {
  background: #CC296C !important;
}

.rrss ul li:nth-child(5):hover span {
  background: #2C3456 !important;
}


/* Las reglas que estén dentro de la media query se van a aplicar */
/* solo cuando la ventana del navegador sea menor o igual a 48rem */
@media (max-width: 48rem) {

    /* Con este selector indicamos que ese estilo debe aplicarse a */
    /* TODOS los elementos que sean hijos directos de la grilla */
    .grilla > * {
      grid-column-end: span 12;
    }
  
    /* El primer valor corresponde al hueco entre filas */
    /* El segundo valor corresponde al hueco entre columnas */
    .grilla {
      grid-gap: 2rem 0;
    }
  }

  .ver-mas {
    grid-column-start: 1;
  }

  body {
    padding: 1rem;
  }
  
  .titulo {
    font-size: 3rem;
  }